
<div class="header header-5"></div>

<div class="container img-profile-container">

  <div class="img-profile-header">
    <%= link_to @book.avatar.url(:original), target: '_blank' do %>
      <%= image_tag @book.avatar.url(:thumb), class: 'img-profile-img img-thumbnail' %>
    <% end %>
  </div>

</div>

<div class="container text-center img-profile-content">

  <h2><%= @book.first_name %></h2>

  <p class="mb-1">
    <em>

      <%= @book.is_male ? '外文' : '中文' %>,
      <%= @book.category.name %>
    </em>
  </p>

  <p class="mb-1">
    <% if @book.user == current_user %>
      <%= link_to '修改', edit_book_path(@book), class: 'btn btn-success' %>
    <% else %>
      <% if !user_signed_in? %>
        <%= link_to "登录", new_user_session_path, class: 'btn btn-primary' %>
      <% elsif @can_exchange %>
        <button class="btn btn-primary" data-toggle="modal" data-target="#exchange-modal">
          交换
        </button>
      <% elsif current_user.books.empty? %>
        <button class="btn btn-outline-primary" disabled>
          没有书籍可交换
        </button>
      <% elsif @book.available? %>
        <button class="btn btn-outline-primary" disabled>
          没有书籍可交换
        </button>
      <% else %>
        <button class="btn btn-outline-primary" disabled>
          已经在交换
        </button>
      <% end %>

      <% if current_user.try(:is_admin) %>
        <%= link_to '修改', edit_book_path(@book), class: 'btn btn-success' %>
      <% end %>
    <% end %>
  </p>

  <p class="mb-1"><%= @book.exchanges.size %> 次交换</p>

  <h5 class="mt-4">简介:</h5>
  <p>
    <%= @book.description %>
  </p>

  <h5 class="mt-4" style="text-align: center">评论:</h5>
  <%= form_for([@book, @book.comments.build]) do |f| %>
    <div class="comment-wrap">
    <div class="photo">
      <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
    </div>
    <div class="comment-block">

      <%= f.text_area :content %>

    </div>

    <div style="text-align: right;margin-top: 12px">
      <%= f.submit "评论", class: "btn btn-primary" %>
    </div>
    </div>
  <% end %>

  <% @book.comments.each do |comment| %>
    <div class="comment-wrap">
      <div class="photo">
        <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
      </div>
      <div class="comment-block" style="text-align: left">
        <%= comment.content %>
        <div style="text-align: right;font-size: small">
        <%= comment.created_at %>
        </div>
      </div>
    </div>

  <% end %>

</div>

  <p class="mt-3" style="text-align: center">
    <em>联系它的主人  &nbsp;&nbsp;&nbsp;邮箱 :</em>
    <%= @book.user.email %>
  </p>
</div>

<% if @can_exchange %>
  <div class="modal fade" id="exchange-modal" tabindex="-1" role="dialog" aria-labelledby="exchange-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exchange-modal-label">交换</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row">
            <% @books_to_exchange.each do |f| %>
              <div class="col-md-4 text-center my-1">
                <%= link_to exchanges_new_path(
                  book_id: f.id,
                  other_id: @book.id
                ), class: 'link-clean' do %>
                  <%= image_tag f.avatar.url(:thumb), class: 'img-thumbnail' %>
                  <%= f.first_name %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
