
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <%= form_with(model: activity, local: true, multipart: true) do |form| %>
        <%#= errors_for book %>

        <% if mode == :new %>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :title, "活动名称", class: "font-weight-bold" %>
                <%= form.text_field :title, id: :book_first_name, class: "form-control", placeholder: "标题" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :ended_at, "截止时间", class: "font-weight-bold" %>
                <div class="form-inline">
                  <%= form.date_select :ended_at, {
                    :start_year => -3.years.ago.year,
                    :end_year => 0.years.ago.year
                  }, { id: :book_birthday, class: "form-control mr-1" }
                  %>
                </div>
              </div>
            </div>
          </div>

        <% end %>

        <div class="form-group">
          <%= form.label :"内容", class: "font-weight-bold" %>
          <%= form.text_area :content, id: :book_description, class: "form-control" %>
          <small class="form-text text-muted">10-500个字</small>
        </div>

        <div class="actions mb-3">
            <%= form.submit "添加", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
