
<div class="header header-6">
  <div class="container">
    <h1>活动</h1>
  </div>
</div>

<div class="container mt-5">
  <%= render partial: "shared/flash", flash: flash %>

  <ul class="nav nav-tabs nav-tabs-center">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#exchanges-actives">
        正在进行
        <span class="badge badge-pill badge-primary"><%= @activities_active.size %></span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#exchanges-past">
        历史活动
        <span class="badge badge-pill badge-secondary"><%= @activities_past.size %></span>
      </a>
    </li>

  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="exchanges-actives">
      <div class="container mt-5">
        <%= render partial: "shared/flash", flash: flash %>

        <div class="row">
          <% if @activities_active.each do |activity| %>
            <div class="col-md-6 mb-4">
              <%= link_to activity, class: 'link-clean' do %>
                <div class="card">

<!--  活动图片-->
                  <%#= image_tag activity.avatar.url(:thumb), class: 'img-fluid' %>

                  <div class="card-body">
                    <h4 class="m-0 tag-text" height="20dx">
                      <%= activity.title %><small class="text-muted">
                    </small>
                    </h4>
                    <p class="m-0 tag-text">内容：<%= truncate(activity.content, length: 30) %></p>
                    <p class="m-0 tag-text">地点：<%= truncate(activity.place, length: 30) %></p>
                    <p class="m-0 tag-text">截止时间：<%= activity.ended_at %></p>
<!--                    <button class="btn btn-primary" data-toggle="modal">-->
<!--                      加入-->
<!--                    </button>-->
                  </div>

                </div>
              <% end %>
            </div>
          <% end.empty? %>
            <div class="container-fluid text-center">
              <h4 class="mt-3 text-center text-muted">还没有正在进行的活动哦~</h4>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3">

        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="exchanges-past">
      <div class="container mt-5">
        <%= render partial: "shared/flash", flash: flash %>
      <div class="row">
        <% if @activities_past.each do |activity| %>
          <div class="col-md-6 mb-4">
            <%= link_to activity, class: 'link-clean' do %>
              <div class="card">

                <!--  活动图片-->
                <%#= image_tag activity.avatar.url(:thumb), class: 'img-fluid' %>

                <div class="card-body">
                  <h4 class="m-0 tag-text" height="20dx">
                    <%= activity.title %><small class="text-muted">
                  </small>
                  </h4>
                  <p class="m-0 tag-text">内容：<%= truncate(activity.content, length: 30) %></p>
                  <p class="m-0 tag-text">地点：<%= truncate(activity.place, length: 30) %></p>
                  <p class="m-0 tag-text">截止时间：<%= activity.ended_at %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end.empty? %>
          <div class="container-fluid text-center">
            <h4 class="mt-3 text-center text-muted">还没有历史活动哦~</h4>
          </div>
        <% end %>
      </div>
    </div>

      <div class="row">
        <div class="col-md-6 offset-md-3">


        </div>
      </div>

    </div>
  </div>

</div>