<div class="header header-5"></div>
<div class="img-profile-header">

<!--活动图片-->
  <%#= link_to @activity.avatar.url(:original), target: '_blank' do %>
    <%#= image_tag @activity.avatar.url(:thumb), class: 'img-profile-img img-thumbnail' %>
  <%# end %>

<!--  <div class="photo">-->
<!--    <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')" ></div>-->
<!--  </div>-->

</div>
<div class="container text-center img-profile-content">

  <h2 align="top"><%= @activity.title %></h2>

  <p class="mb-1">
        <button class="btn btn-primary" data-toggle="modal" id="joinin">
          加入
        </button>
    <script>
      function sel(t){
          alert("加入成功");
      }

    </script>
  </p>

  <h5 class="mt-4">详情</h5>
  <div class="activity-wrap">
    <div class="activity-block">
      <p class="activity-text">内容：<%= @activity.content %></p>
      <p class="activity-text">地点：<%= @activity.place %></p>
      <div class="bottom-description">
        <div class="activity-date">开始时间：<%= @activity.created_at %></div>
      </div>
      <div class="bottom_description">
        <div class="activity-date">截止时间：<%= @activity.ended_at %></div>
      </div>
    </div>
  </div>

</div>

